<div data-ng-if="error == true">
    {{msg}};
</div>

<div data-ng-if="error == false">
    <div class="form-horizontal col-sm-12">
        <div class="form-group col-sm-4">
            <label class="control-label col-sm-3" for="search">Search: </label>
            <div class="col-sm-9">
                <input type="text" id="search" class="form-control" data-ng-model="search[col]" />
            </div>
        </div>

        <div class="form-group col-sm-4">
            <label class="control-label col-sm-4" for="sort">Search By: </label>
            <div class="col-sm-8">
                <select id="sort" class="form-control" data-ng-model="col" data-ng-change="clearSearch()">
                    <option value="$">All</option>
                    <option data-ng-repeat="(key, result) in data[0]" value="{{key}}">{{key}}</option>
                </select>
            </div>
        </div>
        
        <div class="col-sm-4" style="float: right; padding-right: 0;">
            <button type="button" class="btn btn-info pull-right" data-ng-show="btn == true && data != null" data-toggle="modal" data-target="#insertModal">Insert</button>
        </div>
    </div>
    
    <div class="form-horizontal col-sm-12">
        <div class="form-group col-sm-4">
            <label class="control-label col-sm-3" for="exclude">Exclude: </label>
            <div class="col-sm-9">
                <input type="text" id="exclude" class="form-control" data-ng-model="exclude[excludeCol]" />
            </div>
        </div>

        <div class="form-group col-sm-4">
            <label class="control-label col-sm-4" for="excludeSort">Exclude By: </label>
            <div class="col-sm-8">
                <select id="excludeSort" class="form-control" data-ng-model="excludeCol" data-ng-change="updateCol(excludeCol)">
                    <option value="$">All</option>
                    <option data-ng-repeat="(key, result) in data[0]" value="{{key}}">{{key}}</option>
                </select>
            </div>
        </div>
        
        
        <div class="form-group col-sm-2" style="width:22%;">
            <label class="control-label col-sm-6" for="numRow">No. of row: </label>
            <div class="col-sm-5" style="padding-right:0;">
                <select id="numRow" class="form-control" data-ng-model="displayRow" data-ng-change="updateRow(displayRow)" style="width:90%;">
                    <option value="5">5</option>
                    <option data-ng-hide="data.length < 10" value="10">10</option>
                    <option data-ng-hide="data.length < 15" value="15">15</option>
                    <option data-ng-hide="data.length < 20" value="20">20</option>
                    <option data-ng-hide="data.length < 25" value="25">25</option>
                    <option data-ng-hide="data.length < 50" value="50">50</option>
                    <option data-ng-hide="data.length < 100" value="100">100</option>
                </select>
            </div>
        </div>
        
        <div class="form-group col-sm-2" style="float: right; width: 22%;" data-ng-init="pageCount(); range();">
            <tr>
                <td colspan="{{colNum}}">
                    <ul class="pagination pull-right" style="margin: 0;">
                        <li data-ng-class="prevPageDisabled()">
                            <a href="" data-ng-click="prevPage()">Prev</a>
                        </li>
                        <li data-ng-repeat="n in numForPagiBtns | offsetPageBtn:currentPage | limitTo:3" data-ng-class="{active: n == currentPage}" data-ng-click="setPage(n)">
                            <a href="">{{n+1}}</a>
                        </li>
                        <li data-ng-class="nextPageDisabled()">
                            <a href="" data-ng-click="nextPage()">Next</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </div>
    </div>
    
    <br />

    <div data-ng-if="data == null">
        <p>0 rows of record.</p>
    </div>
    
    <div data-ng-if="data != null">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th data-ng-repeat="(key, result) in data[0]" data-ng-click="orderBy(key)"><a href="">{{key}}</a></th>
                    <th data-ng-show="btn == true" style="width:10%;">Edit/ Delete</th>
                </tr>
            </thead>

            <tbody>
                <tr data-ng-repeat="user in filtered = (data | filter:search | filter:exclusion) | orderBy:myOrderBy | offset: currentPage*rowPerPage | limitTo: rowPerPage">
                    <td data-ng-repeat="field in user">{{field}}</td>
                    <td data-ng-show="btn == true">
                        <button class="btn btn-warning" data-toggle="modal" data-target="#editModal" data-ng-click="editBtn(user)"><span class="glyphicon glyphicon-edit"></span></button>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-ng-click="deleteBtn(user)"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
        {{filter(filtered)}}
    </div>
</div>

<div id="insertModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Insert</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group" data-ng-repeat="(key, result) in data[0]">
                        <label class="control-label col-sm-2" for="{{key}}">{{key}}:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="{{key}}" data-ng-model="form[key]">
                            <span data-ng-show="validateMsg[$index] != 'Validated'">{{validateMsg[$index]}}</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-ng-click="insert(form, 'INSERT')">Insert</button>
            </div>
        </div>
    </div>
</div>

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group" data-ng-repeat="(key, result) in selectedData">
                        <label class="control-label col-sm-2" for="{{key}}">{{key}}:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="{{key}}" data-ng-model="selectedData[key]" data-ng-readonly="keyTable[$index]['Key'] == 'PRI'">
                            <span data-ng-show="existed == key">The data is existed. Please insert another data.</span>
                            <span data-ng-show="validateMsg[$index] != 'Validated'">{{validateMsg[$index]}}</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-ng-click="insert(selectedData, 'UPDATE')">Edit</button>
            </div>
        </div>
    </div>
</div>

<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-ng-click="del(selectedData, 'DELETE')" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>